body {
    padding-top: 2em;
    padding-left: 2em;
    color: #000000;
    font-size: 1em;
    font-family: Times New Roman, serif;
}

a {
    color: #3333FF;
}

a:visited {
    color: #CC00CC;
}

h1 {
    font-size: 1.5em;
    font-weight: normal;
    margin: 0;
    position: relative;
    top: 0;
    left: -2px;
    z-index: 2;
    font-family: Georgia, serif;
}

h3 {
    font-weight: normal;
    margin-bottom: 0.3em;
}
