{% extends "layout.html" %}

{% block title %}Сортировка пузырьком{% endblock %}

{% block content %}
    <h1>Сортировка пузырьком</h1>
    <ul>
        <li>быстродействие в худшем случае: О(n<sup>2</sup>) сравнений, О(n<sup>2</sup>) обменов</li>
        <li>быстродействие в лучшем случае: О(n) сравнений, О(1) обменов</li>
        <li>среднее быстродействие: О(n<sup>2</sup>) сравнений, О(n<sup>2</sup>) обменов</li>
    </ul>
    <h3>Реализация на Python</h3>
    <pre>
def bubble_sort(array):
    for i in range(len(array)):
        for j in range(len(array) - i - 1):
            if array[j + 1] < array[j]:
                temp = array[j]
                array[j] = array[j + 1]
                array[j + 1] = temp
    return array
</pre>
{% endblock %}
