<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46277263-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-46277263-3');
    </script>
</head>
<body>
<div>
    <h1>
        <span class="text-nowrap">Ilya Zhelyabuzhsky</span>
    </h1>
    <h2>Contacts</h2>
    <ul>
        <li>
          <span>
            phone: +7 961 771-59-67
          </span>
        </li>
        <li>
          <span>
            e-mail: <a href="mailto:zhelyabuzhsky@icloud.com">zhelyabuzhsky@icloud.com</a>
          </span>
        </li>
        <li>
          <span>
            facebook: <a href="https://www.facebook.com/zhelyabuzhsky">facebook.com/zhelyabuzhsky</a>
          </span>
        </li>
        <li>
          <span>
            twitter: @<a href="https://twitter.com/zhelyabuzhsky">zhelyabuzhsky</a>
          </span>
        </li>
        <li>
          <span>
            github: @<a href="https://github.com/zhelyabuzhsky">zhelyabuzhsky</a>
          </span>
        </li>
    </ul>
</div>
</body>
</html>