<!doctype html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46277263-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-46277263-3');
    </script>
    <title>Homepage</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Zhelyabuzhsky Ilya</h1>
<h4>Contacts</h4>
<ul>
    <li>phone: +7 961 771-59-67</li>
    <li>e-mail: <a href="mailto:zhelyabuzhsky@icloud.com">zhelyabuzhsky@icloud.com</a></li>
    <li>twitter: @<a href="https://twitter.com/zhelyabuzhsky">zhelyabuzhsky</a></li>
    <li>github: @<a href="https://github.com/zhelyabuzhsky">zhelyabuzhsky</a></li>
</ul>
</body>
</html>