{% extends "layout.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <h1>Илья Желябужский</h1>
    <h4>Контактная информация</h4>
    <ul>
        <li>телефон: +7 961 771-59-67</li>
        <li>e-mail: <a href="mailto:zhelyabuzhsky@icloud.com">zhelyabuzhsky@icloud.com</a></li>
        <li>twitter: @<a href="https://twitter.com/zhelyabuzhsky">zhelyabuzhsky</a></li>
        <li>github: @<a href="https://github.com/zhelyabuzhsky">zhelyabuzhsky</a></li>
    </ul>
{% endblock %}
